---
parser: babel-eslint
extends:
  - airbnb
  - plugin:flowtype/recommended
plugins:
  - flowtype
settings:
  flowtype:
    onlyFilesWithFlowAnnotation: true

env:
  browser: true

globals:
  NAME: true
  VERSION: true
  SEPARATOR: true

rules:
  complexity:
    - error
    - 10
  max-len:
    - error
    -
      code: 120
  max-depth:
    - error
    - 4
  object-curly-newline:
    - error
    -
      ObjectExpression:
        consistent: true
