---
parser: babel-eslint
extends:
  - airbnb
  - plugin:flowtype/recommended
  - plugin:prettier/recommended
  - prettier/react
settings:
  flowtype:
    onlyFilesWithFlowAnnotation: true

env:
  browser: true

globals:
  NAME: true
  VERSION: true
  SEPARATOR: true

rules:
  complexity:
    - error
    - 10
  max-len:
    - error
    -
      code: 120
  max-depth:
    - error
    - 4
  object-curly-newline:
    - error
    -
      ObjectExpression:
        consistent: true

  prettier/prettier:
    - error
    -
      printWidth: 100
      semi: true
      singleQuote: true
      trailingComma: es5
