@import 'sanitize.styl'
@import 'stylus-responsive-breakpoints'

sanitize()

#simulator
  position relative
  margin-top 2em
  #banner
    position fixed
    top 0
    right 0
    left 0

    background white

h1
  text-align center

body
  position relative

form
  li:nth-child(n+2)
    display inline-block
    margin-top .6em
  .all-check
    font-weight bold

  footer
    text-align center
    text-decoration underline

  margin-bottom .25em

ul
  li
    display inline-block

    img
      +srb-landscape()
        width 12.5vw

      +srb-portrait()
        width 20vw

label
  display inline-block

  span
    display inline-block
    margin 0 .25em

button
  cursor pointer
