@import 'sanitize.styl'
@import 'stylus-responsive-breakpoints'

sanitize()

#simulator
  position relative
  margin-top 2em
  #banner
    position fixed
    top 0
    right 0
    left 0

    background white

h1
a
  text-align center

button
  font-weight bold

body
  position relative

form
  padding .25em
  li:nth-child(n+2)
    display inline-block
    margin-top .6em
  .all-check
    font-weight bold

  footer
    text-align center

    button
      margin-right 5em
    span
      display inline-block
      width 12em

  margin-bottom .25em

ul
  li
    display inline-block

section
  label
    input[type="checkbox"]
      display none

    input[type="checkbox"]:checked + img
      opacity .25
  img
    +srb-landscape()
      width 12.5vw

    +srb-portrait()
      width 20vw

label
  display inline-block

  span
    display inline-block
    margin 0 .25em

button
label
  cursor pointer

.team
  +srb-landscape()
    margin-top 40vw
  +srb-portrait()
    margin-top 40vh
  section
    position fixed
    bottom 0
    left 0
    right 0
    background white

  header
    display flex
    > *
      display block
      flex 1

  img
    width 20vw
  .empty
    display inline-block
    background url(http://game-a.granbluefantasy.jp/assets/img_mid/sp/party/index/parts_small-scc881a8d53.png) no-repeat 0 0
    background-size 290px 2286px
    width 91px
    height 201px


.ReactModalPortal
  pre
    width 100%
    white-space pre-line
